body{
    margin: 0px;
    padding: 0px;
    background:#010101;
    position: absolute;
        
}
.container{
    padding: 5px auto;
    margin: 5px auto;
}



.box h3{
    color: white;
    font-weight: 100;
    border-bottom: 4px solid white;
    
}
.box{
    padding: 40px;
    width: 200px;
    position: absolute;
    top: 6%;
    left: 6%;
    transform: translate(-50,-50);
    text-align: left;
}
.box input[type="text"],.boxinput[type="Username"],.box input[type="Password"],.box input[type="email"],.box input[type="number"]{
    border: 0;
    background: none;
    margin: 20px auto;
    text-align: left;
    border: 2px solid lightgreen;
    padding: 10px 20px;
    width: 200px;
    outline: none;
    color: lightgreen;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="Password"]:focus,.box input[type="email"]:focus,.box input[type="number"]:focus{
    width: 280px;
    border-color:aqua;
}

